@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');$black: #4A5568;
$blue: #4299E1;
$blue-light: #7BC3FF;
$blue-lightest: #EBF8FF;

$nunito: 'Nunito', sans-serif;
.container {
    top: 60px;
    z-index: 0;
    padding: 0;
}
.home-header {
    width: 100%;
    height: 95vh;
    min-height: 400px;
    z-index: 0;
    position: relative;

    font-family: $nunito;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 30px 20px;
    animation: fadeIn 1s forwards;
    animation-fill-mode: initial;

    .home-header-background {
        position: absolute;
        top: -50/px;

        height: 125%;
        width: 100%;
        z-index: 0;

        video {
            height: 100%;
            opacity: .15;
        }
        video::-internal-media-controls-overlay-cast-button {
            display: none;
        }
    }
    *{
        z-index: 1;
    }

    h1 {
        color: $blue;
        font-size: 25rem;
        font-weight: 700;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: .7;
        

    }
    h2 {
        font-size: 3rem;
        text-align: center;
        padding: 0;
        margin: 30px 0;

    }
    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        margin-bottom: 20vh;
        .button-left {
            width: 60%;
            background: $blue;
            color: white;
            margin-right: 12px;
        }
        .button-right {  
            width: 40%;
            background: none;
            border: 3px solid $blue;
            color: $blue;
        }
    }
    button {
        font-family: $nunito;
        font-weight: 700;
        border-radius: 15rem;
        height: 45px;
    }
    .arrow-container {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: bounce 3s infinite ease-in-out forwards;
        background: $blue;
        border-radius: 100%; 
        svg {
            fill: white;
            height: 100%;
            transform: translateY(2px);
        }
    }
    .down-arrow-hide {
        animation: fadeout .5s forwards;
    }
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-20px); }
        100% { transform: translateY(0); }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
//=================================================================
.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 100%;
    margin-bottom: 50px; 
    h1 {
        font-family: $nunito;
    }
    .wwd-container {
        height: 60%;
        width: 100%;
        background: white;
        color: white;
        display: flex;
        

        button {
            font-family: $nunito;
            font-weight: 700;
            border-radius: 15rem;
            height: 45px;
        }

        .wwd-half {
            position: relative;
            height: 100%;
            width: 50%;

            z-index: 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat !important;

            .wwd-background-tint {
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0.90;
            }
            .wwd-image {
                z-index: 1;
            }
            h1 {
                color: inherit;
                z-index: 1;
            }
            button {
                width: 70%;
                color: white;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                z-index: 1;


            }
        }
        
        .wwd-left {
            button {
                background: $blue-light;
            }
        }
        .wwd-right {
            button {
                background: $blue;
            }
        }
    }

    .wwd-container-4c {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;

        margin: 15px 0;

        .wwd-item {
            position: relative;
            height:150px;
            width: 25%;
            z-index: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        .wwd-item-tint {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: .9;
        } 

            h1 {
                color: white;
                font-size: 2rem;
                margin: 0;
                z-index: 1;
            }
        }
        #wwd-item-1, #wwd-item-3 {
            background: $blue;
        }
        #wwd-item-2, #wwd-item-4 {
            background: $blue-light;
        }

        @media screen and (max-width: 900px) {
            .wwd-item {
                width: 50%;
                height: 150px;
            }
            #wwd-item-1, #wwd-item-4 {
                background: $blue;
            }
            #wwd-item-2, #wwd-item-3 {
                background: $blue-light;
            }
        }
    }

    h2 {
        font-size: 1.5rem;
        padding: 0;
        margin: 5px 0;
        span {
            display: inline-block;
            color: $blue;
        }
    }

    .ra-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 25px;
        .post-card {
            width: 25%;
            padding: 0 25px 0 0;
        }
        :nth-child(4) {
            padding: 0;   
        }
        .ra-viewmore {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue;
            border-radius: 3rem;
            h1 {
                color: white;
                margin: 0;
                padding: 15px;
            }
        }
    }

    @media screen and (max-width: 1450px){
        .ra-container {
            .post-card {
                width: 50%;
                margin-bottom: 25px; 
            }
            :nth-child(2) {
                padding: 0;
            }
            .ra-viewmore {
                width: 50%;
            }
        }
    }
    @media screen and (max-width: 700px){
        .ra-container {
            .post-card {
                width: 100%;
                margin-bottom: 25px; 
                padding: 0;
            }
            .ra-viewmore {
                width: 100%;
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .home-section {
        height: auto;

        .wwd-container {
            flex-direction: column;
            height: auto !important;
            .wwd-half {
                width: 100%;
                min-height: 400px;
                h1 {
                    text-align: center;
                }
            }
        }
    }
}