@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');$black: #4A5568;
$blue: #4299E1;
$blue-light: #7BC3FF;
$blue-lightest: #EBF8FF;

$nunito: 'Nunito', sans-serif;

.contact-container {
    display: flex;
    padding: 15px;

    .contact-container-left {
        width: 50%;
        background: #7BC3FF;
        color: white;
        padding: 25px;
        h1 {
            font-size: 8rem;
        }
        h2 {
            font-family: $nunito;
            font-weight: 400;
        }
        @media screen and (max-width: 900px){
            h1 {
                display: none;
            }
        }
    }
    .contact-container-right {
        width: 50%;
    }
}
@media screen and (max-width: 900px) {
    .contact-container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        .contact-container-left {
            width: 100%;
            min-height: 200px;
        }
        .contact-container-right {
            width: 100%;
        }
    }
}

.service-container {
    padding: 120px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
        max-width: 1200px;
        font-family: $nunito;
    }
    .service-header {
        display: flex;
        justify-content: center;
        align-items: center;
        .service-header-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            * {
                text-align: right;
            }
            h1 {
                color: $blue;
            }

        }
        .service-header-right {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            .service-header-right-image {
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            }
            #service-header-right-image-1 {
                position: relative;
                height: 40rem;
                width: 40rem;
                background: green;
                #service-header-right-image-2 {
                    position: absolute;
                    top: -4rem;
                    right: -10rem;
                    height: 20rem;
                    width: 20rem;
                    background: blue;
                }
                #service-header-right-image-3 {
                    
                }
            }
        }
    }
    .service-section {
        padding-top: 120px; 
        display: flex;
        .service-section-left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 40%;
            * {
                text-align: right;
            }
            h1 {
                color: $blue;
            }
            

        }
        .service-section-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            .service-section-item {
                margin: 15px 25px;
                padding: 15px;
                background: $blue-lightest;
                border-radius: .9rem;

                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .service-header {
            flex-direction: column-reverse;
            .service-header-left {
                width: 100%;
                padding: 25px;
                * {
                    text-align: center;
                    width: 100%;
                }
            }
            .service-header-right {
                width: auto;
                margin-bottom: 60px;
                #service-header-right-image-1 {
                    position: relative;
                    height: 20rem;
                    width: 20rem;
                    background: green;
                    #service-header-right-image-2 {
                        position: absolute;
                        top: -25px;
                        right: -40px;
                        height: 10rem;
                        width: 10rem;
                        background: blue;
                    }
                    #service-header-right-image-3 {
                        
                    }
                }
            }
        }
        .service-section {
            flex-direction: column;
            .service-section-left {
                width: auto;               
                * {
                    text-align: left;
                }
            }
            .service-section-right {
                width: auto;
                margin-bottom: 60px;
                .service-section-item {
                    margin: 0;
                    margin-bottom: 25px;
                }
            }
        }
    }
}