@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');$black: #4A5568;
$blue: #4299E1;
$blue-light: #7BC3FF;
$blue-lightest: #EBF8FF;

$nunito: 'Nunito', sans-serif;
nav {
    position: fixed;

    display: flex;
    align-content: center;
    justify-content: center;

    width: 100%;
    height: 60px;


    font-family: $nunito;
    font-weight: 700;
    animation: fadeIn 1s forwards;


    .logo {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        a {
            text-decoration: none;
        }
        h1 {
            text-align: center;
            color: $blue;
            font-weight: 700;
            margin: 0;

        }
    }
    .Navbar {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        .site-nav-item {
            padding: 0 18px;
            color: $black;
        }
    }
    .contact-button {
        width: 20% !important;
        height: 100%;

        button {
            height: 100%;
            width: 100%;
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            background: $blue;
            border-radius: 0px 0px 0px 74px;
            border-left:9px solid $blue-light;
            
        } 
    }
    .nav-mobile {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 740px) {
    nav {
        .nav-desktop {
            display: none !important;
            visibility: hidden ;
        }
        .logo {
            width: 25%;
            justify-content: flex-start;
            padding: 0 5%;
        }
        .nav-mobile {
            display: block !important;
            visibility: visible !important;
        }
        .nav-mobile-middle {
            width: 50%;
            height: 100%;
        }
        .nav-mobile-right {
            width: 25%;
            height: 100%;

            display: flex !important;
            justify-content: center;
            align-items: center;

            background: $blue;

            border-radius: 0px 0px 0px 74px;
            border-left:9px solid $blue-light;
            button {
                display: flex !important;
                justify-content: center;
                align-items: center;
                
                span{
                    background: white;
                }
                span::before {
                    background: white;
                }
                span::after {
                    background: white;
                }
            }
        }
        .nav-tint {

        }
        .nav-tint-active {
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($black, .50)
        }
        .nav-mobile-menu {
            position: fixed;
            top: 60px;
            right: -80%;
            bottom: 0;
            width: 80%;
            z-index: 500;
            background:#4A5568;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            display: flex;
            justify-content: center;
            .Navbar {
                padding: 30px 0 0 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                .site-nav-item {
                    font-size: 2rem;
                    color: #EBF8FF;
                    padding: 15px 0;
                    text-align: center;
                    width: 100%;

                }
            }
        }
        .nav-mobile-menu-active {
            animation: slideOut 1s forwards;
        }

        @keyframes slideOut {
            from {
                right: -80%;
            }
            to {
                right: 0;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    nav {
        .logo {
            width: 70%;
        }
        .nav-mobile {
            display: block !important;
            visibility: visible !important;
        }
        .nav-mobile-middle {
            width: 0%;
            height: 100%;
        }
        .nav-mobile-right {
            width: 30%;
            display: flex !important;
            justify-content: flex-end;
        }
    }
}

.site-foot {
    border-top: 5px solid $blue-light;
    background: $blue;
    color: white;
    padding: 0;
    .site-foot-nav-left {
        justify-content: flex-start;
        padding: 15px;
    }
    .Navbar {
        .site-foot-nav-item {
            font-size: 1.5rem;
            margin-right: 15px;
            color: white;

        }
    }

    .logo {
        a {
            text-decoration: none;
        }
        h1 {
            font-family: $nunito;
            color: white;
            text-align: left;
            font-weight: 700;
            margin: 0;

        }
    }
    
}


.people-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    .people-item {
        display: flex;
        background: $blue-lightest;
        padding: 25px;
        width: 100%;
        flex-grow: 1;
        border-top: 1px solid $blue-light; 

        .people-item-left {
            display: flex;
            align-items: center;
            padding-right: 25px;
            .post-card-avatar {
                width: 90px;
                height: 90px;
                margin: 0 7px 0 0;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #7BC3FF;
                padding: 2px;
            }
            .author-profile-image {
                display: block;
                width: 100%;
                background: var(--color-secondary);
                border-radius: 100%;
                object-fit: cover;
            }
        }
        .people-item-right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem;
                margin: 0;
                color: $blue-light;

            }
            h3 {
                font-size: 1.5rem;
                font-weight: 400;

            }
        }
    }
    :nth-child(1) {
        border-top: none;
    }
}